<!-- Start: App container -->
<div class="app-container">
  <!-- Start: Header section -->
  <div class="header">
    <nav class="navbar">
      <ul class="nav-list">
        <li><a href="#">Resources</a></li>
        <li><a href="#">Solutions</a></li>
        <li><a href="#">Portfolio</a></li>
        <li><a href="#">Practices</a></li>
        <li><a href="#">Contact Us</a></li>
        <button class="partner-btn">Become a Partner</button>
      </ul>
    </nav>
  </div>
  <!-- End: Header section -->

  <!-- Start: Header section -->
  <div class="hero-section">
    <div class="container">
      <p class="value">OUR VALUE</p>
      <h1 class="hero-header">We act as trusted advisors.</h1>
      <p class="hero-description">
        One Partnership for all your client’s financial needs. Accept payments.
        Disburse payments. Manage payroll.
      </p>
    </div>
    <div class="heroSection-imgWrapper overflow-hidden">
      <img class="h-100 w-100" src="../assets/images/HeaderSection.jpg" />
    </div>
  </div>
  <!-- End: Header section -->

  <!-- Start: Marketing Section -->
  <div class="marketing-section">
    <div class="container">
      <h2 class="marketing-section-header">
        Extend the power of Marketing Cloud Account Engagement
      </h2>
      <div class="service-cards">
        <div class="card">
          <img src="../assets/images/Card1.jpg" alt="Service Cloud Image 1" />
          <div class="card-section">
            <h3 class="card-title">Service Cloud</h3>
            <p class="card-description">
              Einstein Copilot: Field Service Actions drives mobile worker
              productivity with a customizable, conversational, and generative
            </p>
          </div>
        </div>
        <div class="card">
          <img src="../assets/images/Card2.jpg" alt="Service Cloud Image 1" />
          <div class="card-section">
            <h3 class="card-title">Service Cloud</h3>
            <p class="card-description">
              Einstein Copilot: Field Service Actions drives mobile worker
              productivity with a customizable, conversational, and generative
            </p>
          </div>
        </div>
        <div class="card">
          <img src="../assets/images/Card3.jpg" alt="Service Cloud Image 1" />
          <div class="card-section">
            <h3 class="card-title">Service Cloud</h3>
            <p class="card-description">
              Einstein Copilot: Field Service Actions drives mobile worker
              productivity with a customizable, conversational, and generative
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End: Marketing Section -->

  <!-- Start: Industry Section -->
  <div class="industry-section">
    <div class="image-wrapper">
      <img src="../assets/images/LeftSectionImage.svg" alt="Industry Image" />
    </div>

    <div class="text">
      <h2 class="section-title">Indusrty we searve the best way to</h2>
      <p class="section-description">
        Cashfree's UPI AutoPay automates recurring payments to offer your
        customers a seamless subscription experience. Highest success rates and
        ease of integration combined with theCashfree's UPI AutoPay automates
        recurring payments to offer your customers a seamless subscription
        experience.
      </p>
    </div>
  </div>

  <div class="industry-section-below">
    <div class="text">
      <h2 class="section-title">Indusrty we searve the best way to</h2>
      <p class="section-description">
        Cashfree's UPI AutoPay automates recurring payments to offer your
        customers a seamless subscription experience. Highest success rates and
        ease of integration combined with theCashfree's UPI AutoPay automates
        recurring payments to offer your customers a seamless subscription
        experience.
      </p>
    </div>
    <div class="image-wrapper">
      <img src="../assets/images/RightSectionImage.jpg" alt="Industry Image" />
    </div>
  </div>
  <!-- End: Industry Section -->

  <!-- Start: Engagement Section -->
  <div class="engagement-section">
    <h2 class="section-title">
      Extend the power of Marketing Cloud Account Engagement
    </h2>
    <p class="section-description">
      Businesses and individuals that send or receive payments in foreign
      currencies must understand the currency trends and the affective factor to
      predict an ideal currency exchange raCashfree's UPI AutoPay automates
      recurring payments to offer your customers a seamless subscription
      experience. Highest success rates and ease of integration combined with
      the te. Whether you're a seasoned investor, a business leader, or someone
      keen on understanding the evolving financial ecosystem, this blog
      highlights the potential trends and influences affecting the currency
      exchange rate, valuation, and a table with the currency exchange forecast
      this year.
    </p>
  </div>
  <!-- End: Engagement Section -->

  <!-- Start: Infocards Section -->
  <div class="info-cards">
    <img src="../assets/images/Cards.jpg" />
  </div>
  <!-- End: Infocards Section -->

  <!-- Start: Footer Section -->
  <div class="footer">
    <img src="../assets/images/Footer.jpg" />
  </div>
  <!-- End: Footer Section -->
</div>
<!-- End: App container -->
